<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>888311404183-klb5lprs0a0pm7m59rlmk947iiej48cr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888311404183-klb5lprs0a0pm7m59rlmk947iiej48cr</string>
	<key>API_KEY</key>
	<string>AIzaSyDQKLwWdks1OEoWddtUCvx3t4gei3Oa9G0</string>
	<key>GCM_SENDER_ID</key>
	<string>888311404183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ajin.weChat</string>
	<key>PROJECT_ID</key>
	<string>wechat-c26e4</string>
	<key>STORAGE_BUCKET</key>
	<string>wechat-c26e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888311404183:ios:3c1b85b9fb4dcb4680fbd2</string>
</dict>
</plist>